In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")

In [3]:
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [10]:
total_votes_over20_df = pd.DataFrame()
#using list is way, way faster
temp_list = []

for index, row in vine_df.iterrows():
    if row["total_votes"] >= 20:
        temp_list.append(row)

In [13]:
total_votes_over20_df = total_votes_over20_df.append(temp_list)

C:\Users\migal\AppData\Local\Temp\ipykernel_15144\4037441178.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total_votes_over20_df = total_votes_over20_df.append(temp_list)

In [24]:
total_votes_over20_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [19]:
# greater than %50
helpful_votes = pd.DataFrame()
temp_list = []

for index, row in total_votes_over20_df.iterrows():
    if (row["helpful_votes"]/row["total_votes"]) >= .5:
        temp_list.append(row)

In [20]:
helpful_votes = helpful_votes.append(temp_list)

C:\Users\migal\AppData\Local\Temp\ipykernel_15144\271115883.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  helpful_votes = helpful_votes.append(temp_list)

In [22]:
helpful_votes.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [32]:
# is it a vine?
is_vine = pd.DataFrame()
is_not_vine = pd.DataFrame()
temp_list = []
temp_list_2 = []

for index, row in helpful_votes.iterrows():
    if row["vine"] == "Y":
        temp_list.append(row)
    else: 
        temp_list_2.append(row)

In [33]:
is_vine = is_vine.append(temp_list)
is_vine.head(5)

C:\Users\migal\AppData\Local\Temp\ipykernel_15144\1843961658.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  is_vine = is_vine.append(temp_list)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [34]:
is_not_vine = is_not_vine.append(temp_list_2)
is_not_vine.head(5)

C:\Users\migal\AppData\Local\Temp\ipykernel_15144\1221522612.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  is_not_vine = is_not_vine.append(temp_list_2)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [38]:
review_count = vine_df["review_id"].count()
review_count

1785997

In [51]:
five_star_reviews = sum(vine_df["star_rating"] >= 5) 
five_star_reviews

1026924

In [76]:
five_star_ratio = five_star_reviews/review_count
five_star_prcntg = round(five_star_ratio, 3) * 100
five_star_prcntg

57.49999999999999